.all
  .top
    .top__12
      .top__12__item
        = image_tag "pattern_54.jpg", size: "1791x600"
      .top__12__title
        Yuta  Kai  Portfolio

  .main
    .main__top
      PROFILE
    .main__name
      .main__name__name1
        名前
      .main__name__name2
        甲斐優太
    .main__birthday
      .main__birthday__birthday1
        生年月日
      .main__birthday__birthday2
        1992/8/6
    .main__birthplace
      .main__birthplace__birthplace1
        出身地
      .main__birthplace__birthplace2
        宮崎県
    .main__Educational-background
      .main__Educational-background__Educational-background
        学歴
      .main__Educational-background__Educational-background1__1
        .main__Educational-background__Educational-background1__1
          高校：高千穂高校（2008/4〜2011/3）
        .main__Educational-background__Educational-background1__2
          専門学校：福岡医健専門学校（2011/4〜2015/3）
    .main__skill
      .main__skill__s-top
        SKLL
      .main__skill__s-main
        .main__skill__s-main__front
          .main__skill__s-main__front__f-top
            フロントエンドサイド
          .main__skill__s-main__front__f-mozi
            基本的にはスクールと独学で学びました。
          .main__skill__s-main__front__f-the-details
            .main__skill__s-main__front__f-the-details__f-technology
              技術
            .main__skill__s-main__front__f-the-details__f-experience
              経験年数
            .main__skill__s-main__front__f-the-details__f-skill
              スキル
          .main__skill__s-main__front__f-s-html
            .main__skill__s-main__front__f-s-html__s-html
              HTML
            .main__skill__s-main__front__f-s-html__html-experience
              3ヶ月
            .main__skill__s-main__front__f-s-html__html-skill
              ★  ★  ☆  ☆  ☆
          .main__skill__s-main__front__f-s-css
            .main__skill__s-main__front__f-s-css__s-css
              CSS
            .main__skill__s-main__front__f-s-css__css-experience
              3ヶ月
            .main__skill__s-main__front__f-s-css__css-skill
              ★  ★  ☆  ☆  ☆
          .main__skill__s-main__front__f-s-js
            .main__skill__s-main__front__f-s-js__s-js
              JavaScript
            .main__skill__s-main__front__f-s-js__js-experience
              3ヶ月
            .main__skill__s-main__front__f-s-js__js-skill
              ★  ★  ☆  ☆  ☆
        .main__skill__s-main__server
          .main__skill__s-main__server__s-top
            サーバーサイド
          .main__skill__s-main__server__s-mozi
            基本的にはスクールと独学で学びました。
          .main__skill__s-main__server__s-the-details
            .main__skill__s-main__server__s-the-details__s-technology
              技術
            .main__skill__s-main__server__s-the-details__s-experience
              経験年数
            .main__skill__s-main__server__s-the-details__s-skill
              スキル
          .main__skill__s-main__server__s-s-ruby
            .main__skill__s-main__server__s-s-ruby__s-ruby
              Ruby
            .main__skill__s-main__server__s-s-ruby__ruby-experience
              3ヶ月
            .main__skill__s-main__server__s-s-ruby__ruby-skill
              ★  ★  ☆  ☆  ☆
          .main__skill__s-main__server__s-s-rails
            .main__skill__s-main__server__s-s-rails__s-rails
              Ruby on Rails	
            .main__skill__s-main__server__s-s-rails__rails-experience
              3ヶ月
            .main__skill__s-main__server__s-s-rails__rails-skill
              ★  ★  ☆  ☆  ☆
      .main__skill__s-main2
        .main__skill__s-main2__db
          .main__skill__s-main2__db__db-top
            DB
          .main__skill__s-main2__db__db-mozi
            基本的にはスクールで学びました。
          .main__skill__s-main2__db__db-the-details
            .main__skill__s-main2__db__db-the-details__db-technology
              技術
            .main__skill__s-main2__db__db-the-details__db-experience
              経験年数
            .main__skill__s-main2__db__db-the-details__db-skill
              スキル
          .main__skill__s-main2__db__db-db-mysql
            .main__skill__s-main2__db__db-db-mysql__db-mysql
              mysql
            .main__skill__s-main2__db__db-db-mysql__mysql-experience
              3ヶ月
            .main__skill__s-main2__db__db-db-mysql__mysql-skill
              ★  ★  ☆  ☆  ☆
        .main__skill__s-main2__infrastructure-server
          .main__skill__s-main2__infrastructure-server__is-top
            インフラ・サーバー
          .main__skill__s-main2__infrastructure-server__is-mozi
            基本的にはスクールで学びました。
          .main__skill__s-main2__infrastructure-server__is-the-details
            .main__skill__s-main2__infrastructure-server__is-the-details__is-technology
              技術
            .main__skill__s-main2__infrastructure-server__is-the-details__is-experience
              経験年数
            .main__skill__s-main2__infrastructure-server__is-the-details__is-skill
              スキル
          .main__skill__s-main2__infrastructure-server__is-is-aws
            .main__skill__s-main2__infrastructure-server__is-is-aws__is-aws
              AWS
            .main__skill__s-main2__infrastructure-server__is-is-aws__aws-experience
              3ヶ月
            .main__skill__s-main2__infrastructure-server__is-is-aws__aws-skill
              ★  ★  ☆  ☆  ☆
      .main__skill__s-main3
        .main__skill__s-main3__other-tools
          .main__skill__s-main3__other-tools__ot-top
            その他ツール
          .main__skill__s-main3__other-tools__ot-mozi
            基本的にはスクールで学びました。
          .main__skill__s-main3__other-tools__ot-the-details
            .main__skill__s-main3__other-tools__ot-the-details__ot-technology
              技術
            .main__skill__s-main3__other-tools__ot-the-details__ot-experience
              経験年数
            .main__skill__s-main3__other-tools__ot-the-details__ot-skill
              スキル
          .main__skill__s-main3__other-tools__ot-ot-git
            .main__skill__s-main3__other-tools__ot-ot-git__ot-git
              Git
            .main__skill__s-main3__other-tools__ot-ot-git__ot-experience
              4ヶ月
            .main__skill__s-main3__other-tools__ot-ot-git__ot-skill
              ★  ★  ☆  ☆  ☆
          .main__skill__s-main3__other-tools__ot-ot-slack
            .main__skill__s-main3__other-tools__ot-ot-slack__ot-slack
              Slack
            .main__skill__s-main3__other-tools__ot-ot-slack__slack-experience
              5ヶ月
            .main__skill__s-main3__other-tools__ot-ot-slack__slack-skill
              ★  ★  ☆  ☆  ☆
        .main__skill__s-main3__qualification
          .main__skill__s-main3__qualification__qf-top
            保有資格
          .main__skill__s-main3__qualification__qf-mozi
            学生時代に取得しました。
          .main__skill__s-main3__qualification__qf-the-details
            .main__skill__s-main3__qualification__qf-the-details__qf-technology
              資格
            .main__skill__s-main3__qualification__qf-the-details__qf-experience
              取得年月日
          .main__skill__s-main3__qualification__qf-qf-car
            .main__skill__s-main3__qualification__qf-qf-car__qf-car
              普通自動車免許
            .main__skill__s-main3__qualification__qf-qf-car__car-experience
              2011年3月
          .main__skill__s-main3__qualification__qf-qf-acupuncturist
            .main__skill__s-main3__qualification__qf-qf-acupuncturist__qf-acupuncturist
              はり師
            .main__skill__s-main3__qualification__qf-qf-acupuncturist__acupuncturist-experience
              2015年3月
          .main__skill__s-main3__qualification__qf-qf-kyu
            .main__skill__s-main3__qualification__qf-qf-kyu__qf-kyu
              きゅう師
            .main__skill__s-main3__qualification__qf-qf-kyu__kyu-experience
              2015年3月
    .main__portfolio
      .main__portfolio__p-top
        成果物
      .main__portfolio__p-main
        .main__portfolio__p-main__chatspace
          = image_tag "08e5ca73592a2ef1f4c7bb25cf9b33b5.png", size: "300x200"
          .main__portfolio__p-main__chatspace__cs-title
            chatspace
          .main__portfolio__p-main__chatspace__cs-point
            プログラミングスクールのカリキュラムで作成したチャットアプリです。
          .main__portfolio__p-main__chatspace__cs-productionperiod
            制作期間：2週間
        .main__portfolio__p-main__freemarket
          = image_tag "b978735a48b25191f614cf6463198165.jpg", size: "300x200"
          .main__portfolio__p-main__freemarket__fm-title
            FreemarketSample70f
          .main__portfolio__p-main__freemarket__fm-point
            プログラミングスクールのカリキュラムでチーム開発しました。ECサイトのクローンアプリです。
          .main__portfolio__p-main__freemarket__fm-productionperiod
            制作期間：1ヶ月
        .main__portfolio__p-main__my-portfolio
          = image_tag "a023abce60f166fe17ebfcf80d1d7008.jpg", size: "300x200"
          .main__portfolio__p-main__my-portfolio__my-pf-title
            Portfolio
          .main__portfolio__p-main__my-portfolio__my-pf-point
            本サイトです。hamlで作成しました。
          .main__portfolio__p-main__my-portfolio__my-pf--productionperiod
            制作期間：５日
  .footer
    .footer__f-title
      お問い合わせ
    .footer__ft-mozi
      お問い合わせはTwitterのDMまでお願いいたします。
    .footer__f-btn
      = link_to "https://twitter.com/@kaikai492", class: "footer__f-btn__btn" do
        Twitter
      = link_to "https://github.com/y-kai86", class: "footer__f-btn__btn2" do
        GitHub